<div class="container pt-5 mt-5">
  
  <div class="row d-flex flex-row">
    <div class="col-6">
      <h3 class="text-start">รายการใบสั่งซื้อสินค้า</h3>
    </div>
    <div class="col-6">
      <h3 class="text-end">จำนวน {{count}} รายการ</h3>
    </div>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">รหัสใบสั่งซื้อสินค้า</th>
        <th scope="col">ชื่อผู้ทำรายการ</th>
        <th scope="col">จำนวนสินค้า</th>
        <th scope="col">ราคารวม</th>
        <th scope="col">วันที่สร้างรายการ</th>
        <th scope="col">วันที่อนุมัติ</th>
        <th scope="col">สถานะ</th>
        <th scope="col" class="text-end">action</th>
      </tr>
    </thead>
    <tbody>
      {{#each payload}}
      <tr>
        <th scope="row">{{order_buy_id}}</th>
        <td>{{emp_name}}</td>
        <td>{{order_buy_amount}}</td>
        <td>{{order_buy_total}}</td>
        <td>{{order_buy_date}}</td>
        <td>{{approve_date}}</td>
        <td>{{order_buy_status}}</td>
        <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"> ดูข้อมูล</i></a>
          <a href="/buy/delete" type="button" class="btn btn-danger btn-small"><i class="bi bi-trash3-fill"></i> ลบ</i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

{{!-- Pagination --}}
<div class="row d-flex flex-row">
  <div class="col-12 text-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</div>