<div class="container pt-5 mt-5">
  <div class="row d-flex flex-row">
    <div class="col-6">
      <h3 class="text-start">รายชื่อลูกค้า</h3>
    </div>
    <div class="col-6">
      <h3 class="text-end">จำนวน {{count}} คน</h3>
    </div>
  </div>

  <div class="row d-flex">
  <div class="col">
    <a class="btn btn-primary" href="customer/create"><i class="bi bi-plus"></i> เพิ่มข้อมูลลูกค้า</a>
  </div>
    <div class="col">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
      <form class="d-flex" method="get" >
          <input class="form-control me-2" type="search" name="search" placeholder="กรอกคำที่ต้องการค้นหา" aria-label="Search">
          <button class="btn btn-success" type="submit">ค้นหา</button>
        </form>
      </div>
    </div>
  </div>

  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">รหัสลูกค้า</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">สกุล</th>
        <th scope="col">เพศ</th>
        <th scope="col">เบอร์โทรศัพท์</th>
        <th scope="col">วันที่ลงทะเบียน</th>
        <th scope="col" class="text-end">action</th>
      </tr>
    </thead>
    <tbody>
      {{#each payload}}
      <tr>
        <th scope="row">{{cus_id}}</th>
        <td>{{cus_fname}}</td>
        <td>{{cus_lname}}</td>
        <td>{{cus_gender}}</td>
        <td>{{cus_phone}}</td>
        <td>{{create_date}}</td>
        <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"> ดูข้อมูล</i></a>
          <a href="/customer/edit/{{cus_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"> แก้ไข</i></a>
          <a href="#" type="button" class="btn btn-danger btn-small"><i class="bi bi-person-x"> ลบ</i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

{{!-- Pagination --}}
  <div class="row">
    <div class="col justify-content-start">
      <h5>{{item}} จาก {{count}} รายการ</h5>
    </div>
    <div class="col">
    <nav aria-label="...">
    <ul class="pagination justify-content-end">
      {{#if pagination.previous}}
          <li class="page-item">
            <a class="page-link" href="?page={{pagination.page}}&pageType=Previous" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{pagination.page}}&pageType=Previous" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {{/if}}

      {{#each pagination.page_item}}
        {{#if this.active}}
          <li class="page-item active">
            <span class="page-link">
              {{this.page}}
            </span>
          </li>
        {{else}}
          <li class="page-item"><a class="page-link" href="?page={{this.page}}">{{this.page}}</a></li>
        {{/if}}
      {{/each}}

      {{#if pagination.next}}
          <li class="page-item">
            <a class="page-link" href="?page={{pagination.page}}&pageType=Next" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{pagination.page}}&pageType=Next" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {{/if}}
    </ul>
  </nav> 
    </div>
  </div>
</div>
