<div class="container pt-5 mt-5">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-3">
    <a class="btn btn-primary" href="employee/create"><i class="bi bi-plus"></i> เพิ่มพนักงาน</a>
  </div>
  <div class="row d-flex flex-row">
    <div class="col-6">
      <h3 class="text-start">รายชื่อพนักงาน</h3>
    </div>
    <div class="col-6">
      <h3 class="text-end">จำนวน {{count}} คน</h3>
    </div>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">รหัสพนักงาน</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">สกุล</th>
        <th scope="col">ตำแหน่ง</th>
        <th scope="col">สถานะ</th>
        <th scope="col">วันที่ลงทะเบียน</th>
        <th scope="col" class="text-end">action</th>
      </tr>
    </thead>
    <tbody>
      {{#each payload}}
      <tr>
        <th scope="row">{{emp_id}}</th>
        <td>{{emp_fname}}</td>
        <td>{{emp_lname}}</td>
        <td>{{emp_position}}</td>
        <td>{{emp_status}}</td>
        <td>{{create_date}}</td>
        <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"> ดูข้อมูล</i></a>
          <a href="/employee/edit/{{emp_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"> แก้ไข</i></a>
          <a href="#" type="button" class="btn btn-danger btn-small"><i class="bi bi-person-x"> ลบ</i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

{{!-- Pagination --}}
<div class="row d-flex flex-row">
  <div class="col-12 text-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</div>