<!-- Page Wrapper -->
<div class="container py-5 my-5">
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row justify-content-between">
            <div class="col p-0">
              <h3>แดชบอร์ด</h3>
            </div>
            <div class="col p-0 text-end">
              <form class="d-flex justify-content-end">
                <input type="text" id="startDatePicker" name="startDate" class="form-control w-25" value="{{startDate}}">
                <input type="text" id="endDatePicker" name="endDate" class="form-control w-25 mx-1" value="{{endDate}}">
                <button type="submit" class="btn btn-primary">ดูข้อมูล</button>
              </form>
            </div>
          </div>
          <hr>
          <!-- Content Row -->
          <div class="row d-flex justify-content-center">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 text-white">
              <div class="card border-left-primary shadow h-100 py-2" style="background-color: rgb(68,79,152,0.6);">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">รายได้ (เดือนนี้)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{incomeMonth}} บาท</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 text-white">
              <div class="card border-left-success shadow h-100 py-2" style="background-color: rgb(110,58,139,0.6);">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">รายได้ (วันนี้)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{incomeToday}} บาท</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 text-white">
              <div class="card border-left-info shadow h-100 py-2" style="background-color: rgb(197,4,126,0.6);">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold
                      text-uppercase mb-1">กำลังจัดส่ง
                      </div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          {{countTransporting}} รายการ
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 text-white">
              <div class="card border-left-warning shadow h-100 py-2" style="background-color: rgb(227,36,35,0.6);">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold
                      text-uppercase mb-1">
                        คำขอซื้อสินค้าเข้า รออนุมัติ</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{countBuyList}} รายการ</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>ชาร์ทรายเดือน </p>
              </div>
            </div>
            <hr>
            <!-- chart -->
            <div class="row">
              <div class="col-8">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <canvas id="pieChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
</div>
<!-- End of Page Wrapper -->

<script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        'มกราคม',
        'กุมภาพันธ์',
        'มีนาคม',
        'เมษายน',
        'พฤษภาคม',
        'มิถุนายน',
        'กรกฎาคม',
        'สิงหาคม',
        'กันยายน',
        'ตุลาคม',
        'พฤศจิกายน',
        'ธันวาคม',
      ],
      datasets: [{
        label: 'ยอดรายเดือน',
        data:[{{month_value}}],
        backgroundColor: [
          'rgb(68,79,152,0.6)',
          'rgb(110,58,139,0.6)',
          'rgb(197,4,126,0.6)',
          'rgb(227,36,35,0.6)',
          'rgb(235,98,31,0.6)',
          'rgb(243,143,28,0.6)',
          'rgb(254,198,12,0.6)',
          'rgb(245,230,1,0.6)',
          'rgb(140,187,37,0.6)',
          'rgb(0,143,92,0.6)',
          'rgb(6,151,188,0.6)',
          'rgb(42,113,176,0.6)',
        ],
        borderColor: [
          'rgb(68,79,152)',
          'rgb(110,58,139)',
          'rgb(197,4,126)',
          'rgb(227,36,35)',
          'rgb(235,98,31)',
          'rgb(243,143,28)',
          'rgb(254,198,12)',
          'rgb(245,230,1)',
          'rgb(140,187,37)',
          'rgb(0,143,92)',
          'rgb(6,151,188)',
          'rgb(42,113,176)',
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  var pie = document.getElementById('pieChart');
  var chart2 = new Chart(pie, {
    type: 'pie',
    data: {
      labels: [
        'เชียงใหม่',
        'แม่ฮ่องสอน',
        'เชียงราย',
        'ลำพูน',
        'ลำปาง',
        'พะเยา',
        'แพร่',
        'น่าน',
        'อุตรดิตถ์',
        'ตาก',
        'สุโขทัย',
        'พิษณุโลก',
        'กำแพงเพรชร',
        'เพชรบูรณ์',
        'พิจิตร',
      ],
      datasets: [{
        label: 'ยอดขายรวมของจังหวัด',
        data: [{{state_value}}],
        backgroundColor: [
          'rgb(68,79,152,0.6)',
          'rgb(110,58,139,0.6)',
          'rgb(197,4,126,0.6)',
          'rgb(227,36,35,0.6)',
          'rgb(235,98,31,0.6)',
          'rgb(243,143,28,0.6)',
          'rgb(254,198,12,0.6)',
          'rgb(245,230,1,0.6)',
          'rgb(140,187,37,0.6)',
          'rgb(0,143,92,0.6)',
          'rgb(6,151,188,0.6)',
          'rgb(42,113,176,0.6)',
        ],
        hoverOffset: 4
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })
</script>

