<div class="container pt-5 mt-5">
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-end">
        <div class="p-2 bd-highlight"><a class="btn btn-light " href="product/buy/create">สั่งซื้อสินค้าเข้า</a></div>
        <div class="p-2 bd-highlight"><a class="btn btn-primary" href="product/addProduct">เพิ่มสินค้าใหม่</a></div>
    </div>

    {{!-- <div class="d-grid gap-2 d-flex justify-content-md-end pb-3">
    
  </div>
  <div class="d-grid gap-2 d-flex justify-content-md-end pb-3">
    
  </div> --}}
  
  <div class="row d-flex flex-row">
    <div class="col-6">
      <h3 class="text-start">รายการสินค้าคงคลัง</h3>
    </div>
    <div class="col-6">
      <h3 class="text-end">สินค้าจำนวน {{count}} รายการ</h3>
    </div>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">รหัสสินค้า</th>
        <th scope="col">ชื่อสินค้า</th>
        <th scope="col">ราคาต่อหน่วย</th>
        <th scope="col">ภาพสินค้า</th>
        <th scope="col">จำนวนที่เหลืออยู่</th>
        <th scope="col" class="text-end">action</th>
      </tr>
    </thead>
    <tbody>
      {{#each payload}}
      <tr>
        <th scope="row">{{prod_id}}</th>
        <td>{{prod_name}}</td>
        <td>{{prod_price}}</td>
        <td>{{prod_img}}</td>
        <td>{{prod_amount}}</td>
        <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"> ดูข้อมูล</i></a>
          <a href="/product/editProduct/{{prod_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"> แก้ไข</i></a>
          <a href="#" type="button" class="btn btn-danger btn-small"><i class="bi bi-person-x"> ลบ</i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

{{!-- Pagination --}}
<div class="row d-flex flex-row">
  <div class="col-12 text-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</div>