<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div class="container pt-5 mt-5">
    {{#if approve}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        {{approve.msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if deleted}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        {{deleted.msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    <div class="row d-flex flex-row">
        <div class="col-6">
            <h3 class="text-start">รายการสั่งซื้อสินค้า</h3>
        </div>
        <div class="col-6">
            <h3 class="text-end">จำนวน {{count}} รายการ</h3>
        </div>
    </div>

    <div class="row d-flex justify-content-between">
        
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-start ">
                <form class="d-flex" method="get">
                    <input type="text" id="startDatePicker" name="startDate" class="form-control w-25" value="{{startDate}}" readonly>
                    <input type="text" id="endDatePicker" name="endDate" class="form-control w-25 mx-1" value="{{endDate}}" readonly>
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                </form>
            </div>
        </div>
        <div class="col text-end">
            <a href="/report/income/print?startDate={{startDate}}&endDate={{endDate}}" class="btn btn-primary text-white">พิมพ์รายงาน</a>
        </div>
    </div>

    <hr>
    <table class="table table-hover">
        {{#each payload}}
        <thead>
            <tr style="background-color:aliceblue;">
                <th scope="col">รหัสรายการสั่งซื้อสินค้า</th>
                <th scope="col">ชื่อผู้ซื้อ</th>
                <th scope="col">ยอดรวม</th>
                <th scope="col">วันที่ทำรายการ</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{order_sell_id}}</th>
                <th scope="row">{{cus_name}}</th>
                <th scope="row">{{total}}</th>
                <th scope="row">{{order_sell_date}}</th>
                <th scope="row"></th>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">รหัสสินค้า</th>
                <th scope="col">ชื่อสินค้า</th>
                <th scope="col">ราคาต่อหน่วย</th>
                <th scope="col">จำนวน</th>
                <th scope="col">ราคารวม</th>
            </tr>
        </thead>
        <tbody>
        {{#each detail}}
            <tr>
                <th scope="row">{{prod_id}}</th>
                <th scope="row">{{prod_name}}</th>
                <th scope="row">{{prod_price}}</th>
                <th scope="row">{{prod_amount}}</th>
                <th scope="row">{{total}}</th>
            </tr>
        {{/each}}
        </tbody>
        {{/each}}
    </table>

</div>