<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="container pt-5 mt-5" >
{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  {{error.msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
    <div class="row d-flex flex-row">
    <div class="col-6">
      <h3 class="text-start text-danger">ตัวอย่างใบเสร็จ</h3>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col"><a class="btn btn-success" href="/report/receive/print?id={{id}}"><i class="bi bi-check-circle-fill"></i> พิมพ์ใบเสร็จ</a></div>
  </div>
    <hr>
  <div id="receive">
        <div class="row d-flex justify-center alight-center text-center">
    <p >ใบกำกับภาษี/บิลเงินสด</p>
  </div>
  <div class="row text-center">
    <h2><p>บริษัท เชียงใหม่เหล็กหล่อ จำกัด (สำนักงานใหญ่)</p></h2>
  </div>
  
  <div class="row">
    <div class="col fs-4">ผู้ซื้อ {{cus_name}}</div>
  </div>
  <div class="row">
    <div class="col fs-5">ที่อยู่ {{ship_address}} {{address2}} {{locality}} {{state}} {{postcode}}</div>
  </div>
  <div class="row">
    <div class="col fs-5">เลขประจำตัวผู้เสียภาษีอากร {{tax_id}}</div>
  </div>
  <div class="row">
    <div class="col text-end"><h6>วันที่ออกใบเสร็จ {{today}}</h6></div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center"><p>ชื่อสินค้า</p></th>
        <th scope="col" class="text-end"><p>ราคาต่อหน่วย(บาท)</p></th>
        <th scope="col" class="text-end"><p>จำนวน(ชิ้น)</p></th>
        <th scope="col" class="text-end"><p>ราคารวม(บาท)</p></th>
      </tr>
    </thead>
    <tbody>
      {{#each payload}}
      <tr>
        <td scope="row" class="border-0">{{prod_name}}</td>
        <td class="border-0 text-end">{{prod_price}}</td>
        <td class="border-0 text-end">{{prod_amount}}</td>
        <td class="border-0 text-end">{{total}}</td>
      </tr>
      {{/each}}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-end"><p>รวมเงิน {{sum}}</p></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-end"><p>ภาษีมูลค่าเพิ่ม 7% {{vat}}</p></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-end"><p>รวมทั้งสิ้น {{totalsum}}</p></td>
      </tr>
    </tbody>
  </table>
  <div class="row text-center">
    <div class="col">
      <p class="fs-4">ลงชื่อผู้รับเงิน.................................................ผู้รับเงิน</p>
    </div>
  </div>
  </div>
<hr>
    <div class="row py-1">
        <div class="col text-end">
            <a class="btn btn-light" href="/sell">
                <i class="bi bi-arrow-bar-left"></i> กลับ
            </a>
        </div>
    </div>
</div>