<div class="container pt-5 mt-5">
    <div class="row d-flex flex-row">
    <div class="col-6">
      <h3 class="text-start">ข้อมูลลูกค้า</h3>
    </div>
    
  </div>
  <hr>
    <p>ชื่อ: {{payload.cus_fname}}</p>
    <p>สกุล: {{payload.cus_lname}}</p>
    <p>เพศ: {{payload.cus_gender}}</p>
    <p>อีเมล : {{payload.cus_email}}</p>
    <p>เบอร์โทรศัพท์ : {{payload.cus_phone}}</p>
    <p>ที่อยู่ : {{payload.ship_address}} 
      ต.{{payload.address2}} 
      อ.{{payload.locality}} 
      จ.{{payload.state}} 
      รหัสไปรษณี {{payload.postcode}}</p>
  <hr>
    <div class="row">
      <div class="col text-end">
        <a class="btn btn-light" href="/customer">
          <i class="bi bi-arrow-bar-left"></i> กลับ
        </a>
      </div>
    </div>
</div>